*{box-sizing: border-box;}

/*GENERAL*/
body{
    margin: 0;
    background-color: #262626;
}

ul, ol{
    padding: 0px
}

li{
    list-style-type: none;
}




.headerpadre{
    height: 20vh;
    border-bottom: 22px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo{
    width: 130px;
}

ul,ol{
    padding: 0px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none; color: #ffffff; 
}
a:hover{
    color: purple;
} 
.headerpadre{
    height: 20vh;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between
}


/*HOME*/
.titulohome {
    text-align: center;
    }

.articulospadre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
} 
.articulos h4{
margin-top: -5px;
}

.articulos{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1% 2%;
    text-align: center;   
   
}
.articulos p{
font-size: medium;
}


.articulos a{

    width: 150px;
    padding: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    align-self: center;
}
.articulos a:hover {
    color: rgb(7, 8, 8);
    background-color: rgb(116, 115, 115);
}


.footernombres{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: 5px;
    color: white;
    

}
.footerubi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: #444444;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    margin: 20px 20px 0px 20px;
    background-color: #444444;;
}

.footeruldisplay{
    border: 1vh solid #444444;
    background-color: #444444;
}
.titulodetalles {
    text-align: center;
}


  /*GENERO*/
.displaygeneros{
    display: flex;
    justify-content: space-around;
    margin: 20vh 15vh 10vh 15vh;

}

/*DETALLES GENERO*/
.sizeimgGenero{
    width: 45vh;
    height: 45vh;
}
.titulosDeGe{
    font-size: 40px;
    color: #868686;
}
.articulosdetallesgenero{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.articulospadregeneros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pdetalles{
    width: 650px;
    text-align: justify;
    font-size: 20px;
    color: #868686;

}





/*BUSQUEDA*/
.titulobusqueda{text-align: center;}
.valorBuscado {
color: purple;
font-size: xx-large;
font-size: 20px;
}





.navdisplay{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;

}

.headerpadre1{
    height: 20vh;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between}

.tituloshome{color: white;
}

.titulosDeGe{
    color: white;
}
.pdetalles{
    color: white;
}

.articulos h3 {
    color: floralwhite;
} 

.titulobusqueda h1{
color: floralwhite;
}

.fotoprincipal {
   display: flex;
   justify-content: center;
}



.albumes h2 {
    color: floralwhite;
    margin-left: 140px;

}