*{box-sizing: border-box;}

/*GENERAL*/
body{
    background-color: #262626;
}

ul, ol{
    padding: 0px
}

li{
    list-style-type: none;
}
a{
    text-decoration: none; color: #ffffff; 
}
a:hover{
    color: purple;
} 

/*HOME*/
.logo{
    width: 130px;
}

.titulohome {
    text-align: center;
    }
    .articulospadre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    } 

    .articulos h4{
        margin-top: -5px;
        }


.articulos{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1% 2%;
    text-align: center;   
   
}
.articulos p{
font-size: medium;
}


.articulos a{

    width: 150px;
    padding: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    align-self: center;
}
.articulos a:hover {
    color: rgb(7, 8, 8);
    background-color: rgb(116, 115, 115);
}


.footerubi{
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    margin: 20px 20px 0px 20px;
    background-color: #444444;;
    border: 1vh solid #444444;
}

.footeruldisplay li {
 text-align: center;
    justify-content: space-around;
    width: 50vw;
    color: white;
}

.footeruldisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulodetalles {
    text-align: center;
}

.faveados {
    margin-top: 10px;
} 
.faveados a {
    background-color: transparent;
}
 
.faveados a:hover {
    background-color: transparent;
   color: red;

} 

 /*GENERO*/
 .displaygeneros{
    display: flex;
    justify-content: space-around;
    margin: 20vh 15vh 10vh 15vh;

}

/*DETALLES GENERO*/
.sizeimgGenero{
    width: 45vh;
    height: 45vh;
}
.titulosDeGe{
    font-size: 40px;
    color: #868686;
}
.articulosdetallesgenero{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.articulospadregeneros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pdetalles{
    width: 650px;
    text-align: justify;
    font-size: 20px;
    color: #868686;

}

/*BUSQUEDA*/
.titulobusqueda{text-align: center;}
.valorBuscado {
color: purple;
font-size: xx-large;
font-size: 20px;
}

.navdisplay{
    display: flex;
    width: auto;
    padding-top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

 .navdisplay li {
     padding: 10px;
 }


.headerpadre1{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 10px 200px;
    align-items: center;
    justify-content: space-around ;
    border-bottom: 2px solid black;

}


.tituloshome{color: white;
}

.titulosDeGe{
    color: white;
}
.pdetalles{
    color: white;
}

.articulos h3 {
    color: floralwhite;
} 

.titulobusqueda h1{
color: floralwhite;
}

.fotoprincipal {
   display: flex;
   justify-content: center;
}
.albumes h2 {
    color: floralwhite;
    margin-left: 140px;

}

.portada {
    margin: 0 auto;
    background-image: url( "../img/tocadiscos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    text-align: center;
 }
 .titulosbackground {
    background-color: #90611ea8;
   
}
 .titulohome {
    margin-top: 80px;
    margin-bottom: 250px;
    
}

.titulohome h1 {
    text-decoration: black;
    font-size: 60px;
    text-align: center;
}

#titulohomeh4 {
    font-size: 40px;
    color: #000000;
  
}


.sobrenosotrosbloque {
    display: flex;
    padding: 100px;
}
.sobrenosotros {
    display: flex;
    flex-direction: column;
    background-color: #868686;
    width: 600px;
    height: 500px;
    margin-left: 80px;
 font-size: large;
 padding: 100px 50px;
}

.imagensobre {
    margin-left: -20px;
    margin-top: 15px;
    
}
.imagen{
    border-radius: 40px;
}

.tusmegustafoto{
    margin-top: 20px;
    padding: 20px 20px;
    
  }

.sectionplaylist{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
.tusmegustatexto{

    margin-top: 20px;
    padding: 20px 20px;
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}

.iframes{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
margin-top: 17px;

}

.tituloplaylist{
margin-left: 17px;
font-family: sans-serif;
color: white;
}
.sizeimgGenero{
    border-radius: 40px;
}
.imgdetalle{
    border-radius: 30px;
}

.cancionesplaylist{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: baseline;
font-size: x-large;
}
.corazonplaylist{
    margin-right: 20px;

}


/*media*/

@media (max-width: 768px) {

    .imagensobre {
        display: none;
    }

    .headerpadre1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .navdisplay {
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 2px;
    }

  .sobrenosotros {
        align-items: center;
       justify-content: center;
        width: 800px;
        margin-left: 0px;
    }
    .sobrenosotrosbloque {
       justify-content: center;
       margin-left: 0px;
    }
    .articulos img {
        width: 170px;
    }

    .titulobusqueda img {
        width: 700px ;
      
    }

    .articulos audio {
        width: 200px;
    }

    .displaygeneros {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .imagenesgeneros {
        margin-top: 20px;
    }
}
@media (max-width: 420px) {


    .imagensobre {
        display: none;
    }

    .portada {
        background-image: none;
        padding: 0px;
    }

    .headerpadre1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     
    }

    .navdisplay {
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 2px;
    }

  .sobrenosotrosbloque {
        display: none;

    }

    .articulospadre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    } 
   .articulos {
      margin: 10px;
   }
    
   .albumes h2 {
     text-align: center;
     margin-left: 0px;

   }
     .articulosdetallesgenero p {
       width: fit-content;
       padding: 20px;
     }

     .titulobusqueda img {
         display: none;
     }

     .titulosbackground {
         background-color: transparent;
     }
     .displaygeneros {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }
    .imagenesgeneros {
        margin-top: 20px;
        padding: 10px;
    }
}
.formubi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}




