*{box-sizing: border-box;}

/*GENERAL*/
body {
    margin: 0;
    background-color: darkgray;
    }

    ul, ol {
        padding: 0; }

    li {
        list-style-type: none;}
    a {
        text-decoration: none; color: black; 

    }

    a:hover {
        color: teal;
    } 


        .headerpadre {
            height: 20vh;
            border-bottom: 22px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between
        }

        .logo {
            width: 100px ;
            border-radius: 180px;
ul,ol{padding: 0px;
}
li {
    list-style-type: none;}
a {
    text-decoration: none; color: black; 
}
a:hover {
    color: teal;
} 
.headerpadre {
    height: 20vh;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between

        }
.logo {
    width: 100px ;
    border-radius: 180px;
}

/*HOME*/
.titulohome {
        text-align: center;
    }

.articulospadre {
          display: flex;
          flex-direction: row;
          justify-content: center;
         margin-top: 30px;
      } 
.articulos h4 {
        margin-top: -5px;
     }
.articulos {
     display: flex;
     flex-direction: column;
     align-content: center;
     padding: 1% 2%;
    text-align: center;
    
 }
<<<<<<< HEAD

.articulos p {
  font-size: medium;
}
 .articulos a {
=======
.articulos a {
>>>>>>> 257790ec289b0cccfd1b56312c0b33b06449c99a
    width: 150px;
    padding: 10px;
    color: white;
    background-color: #444;
align-self: center;
}
.articulos a:hover {
    color: rgb(7, 8, 8);
  background-color: seashell;
}
.footernombres ul {
    display: flex;
 flex-direction: row;
    justify-content: center;
 margin: 3%;
 
   
}
.footernombres li {
    list-style: none;
    height: 30px;
    width: 50;
    padding: 20px 20px;
   background-color: silver;
text-align: center;
    
}
.titulodetalles {
    text-align: center;
  }

<<<<<<< HEAD
  /*GENERO*/

.imagenesgenero{
    width: 250px;
    height: 250px;
}

.articulospadregeneros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
} 

/*DETALLES GENERO*/

.articulosdetallesgenero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
=======
>>>>>>> f907b3fd8813085808195aca6aa318e8b72df637
